nav{
  width: 1500px;
  height: 100px;
  padding: 10px 90px;
  box-sizing: border-box;
}

ul.navbar > li {
  text-align: center;
  display: inline-block;
  width:100px;
  background-color: black;
}
ul.a {
  list-style-type: circle;
}

<head>
<style>

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
}
.active {
  background-color: #4CAF50;
}

</style>
</head>
